<!doctype html>
<html layout:decorator="layout/layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<th:block layout:fragment="content">
        <!--jumbotron -->

    <div class="container text-sm-center pt-3" id="example2" >

        <h1 class="centered1 display-4 font-italic py-4 mb-4 text-white">Advanced Catering Serve<p></p></h1>
        <p class="centered lead font-weight-bold pb-2 mt-5 text-white">"Nothing bring people together like good food!!"</p>


    </div>
    <!-- Jumbotron -->
    <div th:fragment="flash" th:if="${flash != null}" class="alert alert-danger text-center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><span th:text="${flash}"></span></strong>
    </div>


    <div class="container mt--1">
        <div class="row">

            <div class="col-sm text-center ">
                <h3 class="text-center font-italic mt-3">Saint Louis Catering Company</h3>
                <p class="mt-3"><strong>“The incredible, Edible Advanced Catering Serve”</strong></p>
                <p class="font-italic">Filling every occasion with great food and service. Managing events since 2002. We strive to continually improve and enhance your experience with us.</p>


            </div>

        </div>  <!-- about -->

        <!-- Speakers -->

        <h1 id="speaker" class="display-4 text-center">Services</h1>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{/pic1.gif}" alt="corp"/>
                    <div class="card-body">
                        <h5 class="card-title">Wedding</h5>
                        <p class="card-text">Do you dream of a classic sit-down dinner or a family-style meal around a big table or a bountiful buffet? And why not serve your guests a meal that shows your love. Let us create a food menu that reflects your style and taste.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card ">
                    <img class="card-img-top" th:src="@{/pic2.gif}" alt="ecma"/>
                    <div class="card-block">
                        <h4 class="card-title px-3">Corporate Catering</h4>
                        <p class="card-text px-3">Offering everything from hot breakfast to dropped-off boxed lunches to served dinner with cocktail hour. Our corporate and business catering services have you covered throughout the work day.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <img class="card-img-top" th:src="@{/source.gif}" alt="ecma"/>
                    <div class="card-block">
                        <h4 class="card-title">Event Organizing</h4>
                        <p class="card-text">A party without some dazzling cocktails and delicious food is just a meeting. Let us spice up your private party, Events and  other professional gathering with our unparalleled menu choices and exceptional service.</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- signup form -->

        <hr/>
        <div class="row py-5 text-muted">
            <div class="col-md-6">
                <p><strong>Advance Catering Serve</strong></p>
                <p class="font-italic">"Savour the Flavour of Advanced catering serve."</p>
            </div>
            <div class="col-md-6">
                <p><strong>Sign-up for world class services</strong></p>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Email"/>
                    <span class="input-group-btn">
			<button class="btn btn-primary" type="button">Sign up</button>
			</span>
            </div>
        </div>
       </div>
        <hr/><!-- /signup form -->



        <div class="row py-3">
            <div class="col md-7">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catering</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Wedding</a>
                            <a class="dropdown-item" href="#">Corporate</a>
                            <a class="dropdown-item" href="#">Event organising</a>

                        </div>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" href="#">Follow US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                    </li>
                </ul>

            </div>
            <div class="col md-5 text-right">
                &copy; 2018 Advanced Catering Serve.
            </div>
        </div>

     <!-- /.container -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

            <!-- /footer -->
    </div>
</th:block>
</body>
</html>